.v-router.fadein {
	animation: fadein 0.35s ease-in forwards;
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.v-router.fadeInTop {
	animation: fadeinTop 0.2s ease-in forwards;
}

@keyframes fadeinTop {
	from {
		transform: translate(0, -20%);
		opacity: 0;
	}
	to {
		transform: translate(0, 0);
		opacity: 1;
	}
}


.v-router.scaleIn {
	animation: scale-in 0.2s linear forwards;
}

@keyframes scale-in {
	from {
		transform: scale(0.8,0.8);
		opacity: 0;
	}
	to {
		transform: scale(1,1);
		opacity: 1;
	}
}


.v-router.fadeInRight {
	animation: fadeInRight 0.35s ease-in-out forwards;
}

@keyframes fadeInRight {
	from {
		transform: translateX(60%);
		opacity: 0;
	}
	to {
		transform: translateX(0);
		opacity: 1;
	}
}